bin/
obj/
data/
wx_pch.h.gch/
*.o
*.stf
*.pyc
*.depend
*.layout
*~
libtool
Makefile.in
autom4te.cache/
po
stamp-h1
Makefile
src/Makefile
Makefile.in
src/Makefile.in
autoscan.log
config.status
configure
config.h
mkinstalldirs
src/.deps/
config.rpath
configure.ac.bak
config.log
configure.scan
